main {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: lightblue;
}

section h2 {
    font-size: 3em;
    display: block;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: .5em;
}

section img {
    display: block;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: .5em;
}

.container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
}

td,
th {
    padding: .7em;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #EEE;
}

label {
    color: #555;
    display: block;
    margin-bottom: .3em;
}

button {
    padding: .5em 2em;
    border: 0;
    border-bottom: 3px solid;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0;
    margin-top: -3px;
    color: #fff;
    background-color: #0c8cd3;
    border-color: #04324c;
    width: 20%;
    clear: both;
    margin: 10px 0px;
}

textarea {
    display: block;
}